{% extends "base.html" %}
{% load static %}

{% block content %}

    <div id="header-info">
        <h1>Privacy Policy</h1>
    </div>

    We at Open Cleveland respect your privacy and collect as little as information as possible so that your priorities will be shared with your city councilperson. 

    <h2>We collect:  </h2>
    <ul>
    <li>Your email address</li>
    <li>Your ward</li>
    <li>Your budget priorities (the percentage values you allocate to each category)</li>
    <li>The time and date when you submitted a budget </li>
    </ul>

<h2>What we share: </h2>
    <ul>
    <li>Your email address</li>
    <li>Your totals will be shared in sum </li>
</ul>
    <h2>Who it may be shared with: </h2>
    
    The councilperson from the ward that you share with us.
    
    <p>Your email address may be shared with your councilperson in the event they wish to contact you. Collecting an email address also allows us to limit the number of submissions per person without resorting to other measures. </p>
    
     <p>We cannot guarantee your information will not be incidentally identified (if you are the only person in your ward to submit a result, for example). </p>
    
     <p>We will not sell or share your information with any other party except what was mentioned above and we will not keep it after the project is over (July of each year). </p>
    
    <h2>We do not store:</h2>
    <p> Your physical address; it is only used for identifying the ward that you belong in; visit the <a href="https://osmfoundation.org/wiki/Privacy_Policy">OpenStreetMap's Privacy Policy</a> (Who operates Nominatum)</p>

    <h2>What we do NOT collect: </h2>
    
    We do not collect any other information about your visit to the website, such as:
    <ul>
    <li>How you access the Internet</li>
    <li>Operating system on your computer and information about the browser you used when visiting the site</li>
    <li>What Pages you visited</li>
    <li>Any referral url (if you clicked on a link on another website (such as google.com or bing.com) to access the site)</li>
    </ul>

    {#        </div>#}
    {#    </div>#}


{% endblock content %}

{% block footer_scripts %}

{% endblock footer_scripts %}
